# Import US T-bills and bonds daily data from Quandl

In [19]:
import numpy as np
import pandas as pd
import quandl

In [2]:
import yaml, os

# Retrieve parameters from configuration file
with open("../conf.yml", "r") as ymlfile:
    cfg = yaml.load(ymlfile)

QUANDL_TK = cfg['api_keys']['quandl']

In [3]:
START_DT = "2010-01-01"
END_DT = "2020-05-05"

In [12]:
OUT_PATH = "../data/"
OUT_FILE = "quandl_ustbills.csv"

os.path.isdir(OUT_PATH)

True

In [17]:
IN_PATH = "../data/"
IN_FILE = "eod_ticker_sector.csv"

In [14]:
us_tbills = quandl.get("USTREASURY/YIELD", authtoken=QUANDL_TK, start_date=START_DT, end_date=END_DT)
us_tbills.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2587 entries, 2010-01-04 to 2020-05-05
Data columns (total 12 columns):
1 MO     2587 non-null float64
2 MO     387 non-null float64
3 MO     2587 non-null float64
6 MO     2587 non-null float64
1 YR     2587 non-null float64
2 YR     2587 non-null float64
3 YR     2587 non-null float64
5 YR     2587 non-null float64
7 YR     2587 non-null float64
10 YR    2587 non-null float64
20 YR    2587 non-null float64
30 YR    2587 non-null float64
dtypes: float64(12)
memory usage: 262.7 KB

In [15]:
us_tbills['3 MO rets'] = us_tbills['3 MO'] *365/90/100
us_tbills['1 YR rets'] = us_tbills['1 YR'] /100

In [16]:
us_tbills.head()

,1 MO,2 MO,3 MO,6 MO,1 YR,2 YR,3 YR,5 YR,7 YR,10 YR,20 YR,30 YR,3 MO rets,1 YR rets
Date,,,,,,,,,,,,,,
2010-01-04,0.05,NaN,0.08,0.18,0.45,1.09,1.66,2.65,3.36,3.85,4.60,4.65,0.003244,0.0045
2010-01-05,0.03,NaN,0.07,0.17,0.41,1.01,1.57,2.56,3.28,3.77,4.54,4.59,0.002839,0.0041
2010-01-06,0.03,NaN,0.06,0.15,0.40,1.01,1.60,2.60,3.33,3.85,4.63,4.70,0.002433,0.0040
2010-01-07,0.02,NaN,0.05,0.16,0.40,1.03,1.62,2.62,3.33,3.85,4.62,4.69,0.002028,0.0040
2010-01-08,0.02,NaN,0.05,0.15,0.37,0.96,1.56,2.57,3.31,3.83,4.61,4.70,0.002028,0.0037

In [18]:
us_tbills = pd.read_csv(OUT_PATH + OUT_FILE)